.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    width: 20px;
    color: #f5b726 !important;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #001B2A !important;
    color: white !important;
}

.modal-update-button {
    border: 0px !important;
}

.update-button {
    border: 0px !important;
}

.sidebar-menu li>a>.fa-angle-left, .sidebar-menu li>a>.pull-right-container>.fa-angle-left:hover {
    color: white !important;
}

.panel-primary {
    border-color: #00394A;
}

#side-footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:14px;   /* Height of the footer */
    background:#00394A;
 }

 .login-input
 {
     background: transparent !important;
     border:0px !important;
     border-bottom:1px solid #FFB322 !important;

 }

.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a {
    text-decoration: none !important; 
}

 .navbar-nav>.user-menu>.dropdown-menu>.user-footer {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 2px solid #FFB322 !important;
}

 .panel-heading-login .panel-title-login {
    font: bold 22px Bell MT !important;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #4c4b4b !important;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}