// General
#wrapper{
    position: relative;
}
label{
    color: #000000;
}
small{
    color: #636b6f;
    font-weight: normal !important;
}
.form-group{
    small{
        margin-top: 3px;
        display: block;
    }
    .fa.fa-info-circle{
        color: #f1c40f;
        cursor: pointer;
    }
    .fa.fa-question-circle{
        color: #3498db;
        cursor: pointer;
    }
}
.skin-blue .sidebar-menu>li:hover>a>.fa, .skin-blue .sidebar-menu>li.active>a>.fa{
    color: #01B6A0;
}
.treeview-menu>li.active>a>.fa, .treeview-menu>li>a:hover>.fa{
    color: #E7BE3E;
}
.modal{
    .modal-header{
        .close{
            font-size: 30px;
            line-height: 100%;
        }
    }
    table.dataTable{
        width: inherit !important;
    }
}