
body{
	background: darkslategrey !important;
}

.main-header .logo
{
	background: #053549 !important;
}

.main-header .logo .logo-mini
{
	font: normal 40px Bell MT !important;
	color: #FDBE8A;
	margin-top:5px;
}

.main-header .logo:hover
{
	text-decoration: none !important
}

.main-header .logo .logo-lg img
{
	width: 120px !important;
	height:35px !important;
}

.navbar-static-top
{
	background: #001325 !important
}

.sidebar .parent-title
{
	font-weight: bold;
	text-transform: uppercase;
	color :white;
}

.sidebar .sidebar-menu-tab:hover
{
	font-weight: bold;
	background: #FDBE8A !important;
	color: #053549 !important
}

.sidebar .sidebar-menu-childtab:hover
{
	background: #FDBE8A !important;
	color: #053549 !important
}

.sidebar .sidebar-menu-childtab .title
{
	color: white !important
}

.sidebar .sidebar-menu-tab:hover > .sidebar-icon-hover,
.sidebar .treeview-menu .sidebar-menu-tab:hover > .sidebar-icon-hover
{
	color: #ffffcc !important;
}

.sidebar .sidebar-menu-childtab:hover > .sidebar-icon-hover,
.sidebar .treeview-menu .sidebar-menu-childtab:hover > .sidebar-icon-hover
{
	color: #ffffcc !important;
}

.skin-blue .sidebar-menu>li:hover>a, 
.skin-blue .sidebar-menu>li.active>a
{
    border-left-color: white !important;
}

/*Toggle Button/Hamburger*/
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #f5b726 !important;
}

.panel-heading-login
{
	background: transparent !important;
	font-family: Arial !important;
}

.panel-heading-login .panel-title-login
{
	color: #FDBE8A !important;
	font: bold 20px Bell MT !important;
}

.panel-heading
{
	background: #053549 !important;
	font-family: Arial !important;
}

.panel-heading .panel-title
{
	color: #ffffff !important;
	font: bold 20px Calibri !important;
}

.login-box{
	background: transparent !important;
	box-shadow: none !important;
}

.login-button
{
	width: 90%;
	background: #f5b726 !important;
	border: none !important;
	font-weight: bold !important;
}

.login-button:hover
{

}

.login-options
{
	font: bold 15px Calibri !important;
	display: block;
	margin: 0 auto;
}

.login-options .remember-me
{
	cursor: pointer !important;
	color: #ffffff;
}

.login-options .remember-me .remember-checkbox
{
	position: relative !important;
	top:2px !important;
}

.login-box, .register-box {

    width: 85% !important;
}

.login-error{

	font: normal 15px Calibri;
}

.modal-update-title
{

}

.modal-cancel-button
{

}

.modal-update-button
{
	background: #f5b726 !important;
	border: 1px solid #000000 !important;
	font-weight: bold !important;
}

.update-button
{
	background: #f5b726 !important;
	border: 1px solid #000000 !important;
	font-weight: bold !important;
}

.is-invalid
{
	border:1px solid red !important;
}

.login-error-label{

	font-size:13px;
	color:red;
	font-weight: bold;
}